{{/* parser.Struct */}}

{{ $name := (toCamelCase .Name) }}

func (p *{{ $name }}) Write(w thrift.Writer) (err error) {
    if err = w.WriteStructBegin("{{ $name }}"); err != nil {
        return err
    }
    {{ range .Fields }}
    // {{ .ID }}: {{ .Name }} {{ if isPtrField . }}*{{ end }}{{ formatType .Type }}
    {{ if (isPtrField .) }} if p.{{ toCamelCase .Name }} != nil { {{ end }}
    {{ if (eq .Type.Category "container") }} if len(p.{{ toCamelCase .Name }}) > 0 { {{ end }}
        if err = w.WriteFieldBegin("{{ toCamelCase .Name }}", thrift.{{ .Type.TType }}, {{ .ID }}); err != nil {
            return err
        }
        {
            tmp := {{ if (isPtrField .) }}*{{ end }}p.{{ toCamelCase .Name }}
            {{ formatWrite .Type "tmp" }}
        }
        if err = w.WriteFieldEnd(); err != nil {
            return err
        }
    {{ if (eq .Type.Category "container") }} } {{ end }}
    {{ if (isPtrField .) }} } {{ end }}
    {{ end }}
    if err = w.WriteFieldStop(); err != nil {
        return err
    }
    return w.WriteStructEnd()
}