{{/* .Type (Category = parser.TypeContainer) */}}

_, size, err := r.ReadSetBegin()
if err != nil {
    return err
}
m := make({{ formatType . }}, size)
for i := 0; i < size; i++ {
    var e {{ formatType .ValueType }}
    {
        {{ formatRead .ValueType "e" }}
    }
    m[e] = true
}