{{/* Package */}}

{{ range $struct := .Structs }}

type {{ toCamelCase $struct.Name }} struct {
    {{ range $struct.Fields }}
    {{ toCamelCase .Name }} {{ if (isPtrField .) }}*{{ end }}{{ formatType .Type }} `{{ formatStructTag . }}`
    {{ end }}
}

{{ if $struct.DefaultFields }}
// defaults
{{ range $struct.DefaultFields }}
var {{ toCamelCase $struct.Name }}_{{ toCamelCase .Name }}_DEFAULT {{ formatType .Type }} = {{ formatValue .Default }}
{{ end }}
{{ end }}

{{ if $struct.ZeroFields }}
// zeros
{{ range $struct.ZeroFields }}
var {{ toCamelCase $struct.Name }}_{{ toCamelCase .Name }}_ZERO {{ formatType .Type }}
{{ end }}
{{ end }}

func New{{ toCamelCase $struct.Name }}() *{{ toCamelCase $struct.Name }} {
	return &{{ toCamelCase $struct.Name }}{
        {{ range $struct.Fields }}
        {{ if (and .Default (not .IsDefaultZero ) ) }}
        {{ if (eq .Type.Category "container") }}
        {{ toCamelCase .Name}} : {{ formatType .Type }}{{ formatValue .Default }},
        {{ else }}
        {{ toCamelCase .Name }} : {{ toCamelCase $struct.Name }}_{{ toCamelCase .Name }}_DEFAULT,
        {{ end }}
        {{ end }}
        {{ end }}
	}
}

{{ range $struct.Fields }}
{{ $fname := ( toCamelCase .Name ) }}
{{ $rptr := (and (isPtrField .) (eq .Type.Category "identifier") ) }}
func (p *{{ toCamelCase $struct.Name }}) Get{{ $fname }}() {{ if $rptr }}*{{ end }}{{ formatType .Type }} {
    {{ if $rptr }}
    return p.{{ $fname }}
    {{ else }}
    {{ if .Optional }}
    if !p.IsSet{{ $fname }}() {
        {{ if .Default }}
            {{ if (eq .Type.Category "container" ) }}
            return {{ formatType .Type }}{{ formatValue .Default }}
            {{ else }}
            return {{ toCamelCase $struct.Name }}_{{ $fname }}_DEFAULT
            {{ end }}
        {{ else if (eq .Type.Category "basic" ) }}
            return {{ toCamelCase $struct.Name }}_{{ $fname }}_ZERO
        {{ else }}
            return nil
        {{ end }}
    }
    {{ end }}
    {{ if (isPtrField .) }}
    return *p.{{ $fname }}
    {{ else }}
    return p.{{ $fname }}
    {{ end }}
    {{ end }}
}
{{ end }}

{{ range $struct.OptionalFields }}
{{ $fname := ( toCamelCase .Name ) }}
func (p *{{ toCamelCase $struct.Name }}) IsSet{{ $fname }}() bool {
    {{ if (or (eq .Type.Category "container") (not .Default) ) }}
    return p.{{ $fname }} != nil
    {{ else }}
    return p.{{ $fname }} != {{ toCamelCase $struct.Name }}_{{ $fname }}_DEFAULT
    {{ end }}
}
{{ end }}

{{ end }}
